/* Home Animation */
.back-to-position {
  opacity: 0;
  transition: transform 2s ease, opacity 2s ease;
}

.back-to-position.to-left {
  transform: translateX(250px);
}

.back-to-position.to-right {
  transform: translateX(-150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0;
}

.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}

.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}

.show .back-to-position.delay-3 {
  transition: transform 2.5s 0.9s ease, opacity 2.5s 0.9s ease;
}

.show .back-to-position.delay-4 {
  transition-delay: 1.2s;
}

.show .back-to-position.delay-5 {
  transition-delay: 1.5s;
}

/* Home */
.home {
  height: 42em;
  background: url("./home.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home .left {
  margin-right: 0.8em;
  background: white;
  border: 8px solid white;
  border-radius: 12px;
}

.home .left .home__avatar {
  width: 20em;
  height: 21em;
  border-radius: 12px;
}

.home .right {
  font-size: 1.1rem;
}

.home .right li {
  margin-bottom: 0.2em;
}

.home .right .text {
  padding-bottom: 0.5em;
  margin-bottom: 0.4em;
  border-bottom: 2px solid rgb(160, 154, 154);
}

.home .right i {
  font-size: 1.3rem;
  color: rgb(21, 204, 21);
}

@media screen and (max-width: 52em) {
  .home {
    flex-direction: column;
  }

  .home .left {
    margin-bottom: 2em;
    border-radius: 50%;
    border: 5px solid white;
  }

  .home .left .home__avatar {
    width: 16em;
    height: 16em;
    border-radius: 50%;
  }
}
