.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 2em;
  border-radius: 50%;
}

.logo__title {
}

.menu {
  display: flex;
}

.menu .item {
  margin-right: 0.5em;
  cursor: pointer;
}
