/* Scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgb(133, 132, 132);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.container {
  position: absolute;
  top: 46em;
  width: 100%;
}
